body {
  background-image: -webkit-linear-gradient();
}

h1, h3, p, #goodfish-link {
  font-family: 'Nunito', sans-serif;
  color: #000000;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

.fab, .fa-brands {
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.container {
  width: 600px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  padding: 25px;
  margin: 50px auto;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.top-bio {
  box-shadow: 40px 20px #EF476F;
  font-size: medium;
  background-color: #FFD166;
}

.links {
  display: flex;
  justify-content: center;
  font-size: medium;
  box-shadow: 40px 20px #06D6A0;
  background-color: #118AB2;
}

#profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.socials-list {
  font-size: 50px;
  color: rgb(149, 175, 201);
}

.links-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.music {
  box-shadow: 40px 20px #9381ff;
  background-color: #ffd8be;
  justify-content: center;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
